<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：命名空间，用来映射对应的mapper相当于将mapper和mapper.xml连接起来，这一步很重要-->
<mapper namespace="com.zhitong.server.mapper.WorkFaceMapper">
    <insert id="save" parameterType="com.zhitong.server.entity.geological">
        insert into ps_work_face_tab
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">id,</if>
            <if test="classNo!=null">class_no,</if>
            <if test="name!=null">`name`,</if>
            <if test="age!=null">age,</if>
            <if test="idcard!=null">idcard,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="classNo!=null">#{classNo},</if>
            <if test="name!=null">#{name},</if>
            <if test="age!=null">#{age},</if>
            <if test="idcard!=null">#{idcard},</if>
        </trim>

    </insert>
</mapper>
